<!-- HTML CODE for courses page 
CMPT 276 SFUCENTRAL SPRING 2021
Hakim Bashe, Sumeet Sara, Dawson Cheng, Rahul Rajesh-->

<!DOCTYPE html>
<html lang="en">
  <!-- Nav Bar links and scripts -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 

  <head>
    <!-- This contains the links to css, the font info from google, and the nav bar-->
    <link rel="stylesheet" href="/css/home.css" />              <!-- changed the href-->
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />  
    <meta charset="UTF-8" />
    <script src="https://kit.fontawesome.com/b1caad710b.js" crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

  <!-- https://www.mockplus.com/blog/post/bootstrap-navbar-template -->

  <%- include("partials/nav.ejs") -%>

  </head>

  <body>
    <div class="container">
      <div class="discuss-board">
        <nav class="discuss-nav-container">
          <ul class="discuss-nav">
              <li class="discuss-nav-item"><a class="discuss-nav-button" href="/home">Home<i class="fas fa-home"></i></a></li>
              
              <li class="discuss-nav-item"><a class="discuss-nav-button"href="/aboutUs">About Us<i class="fas fa-globe"></i></a></li>
              
              <li class="discuss-nav-item"><a class="discuss-nav-button"href="/courses">Courses<i class="fas fa-book"></i></a></li>
          </ul>
        </nav>
        <div class="post-container">
          
          <% if (courses.length == 0) { %>
            <div class="post">
              <div class="social-icon">
                <a href="">My Courses<i class="fas fa-thumbs-up"></i></a>
                <div class="divider" style="left: 33%; height: 20px;"></div>
                <a href="">Professor<i class="fas fa-user-tie"></i></a>
                <div class="divider" style="right: 33%; height: 20px;"></div>
                <a href="">Term<i class="fas fa-star"></i></a>
              </div>
            </div> 
          <% } %>
            <% courses.forEach(function(course) { %>
              <div class="post">
                <div class="social-icon">
                  <a href="/courses/<%= course.course %>"><%= course.course %><i class="fab fa-discourse"></i></a>
                  <div class="divider" style="left: 33%; height: 20px;"></div>
                  <a><%= course.professor %></a>
                  <div class="divider" style="right: 33%; height: 20px;"></div>
                  <a><%= course.term %></a>
                </div>
              </div>  
            <% }); %>
          
          
          
          </div>
        </div>
    </div>
    

      <button class="float" type="submit"><a href="/addCourse"><i class="fas fa-plus"></i></a></button>
    
  </div>
    
    <!-- Discussion-->
    <script>
      /** Source: https://css-tricks.com/snippets/jquery/add-active-navigation-class-based-on-url/*/
      function setNavigation() {
        let current_location = location.pathname.split('/')[1];
        if (current_location === "") return;
        let menu_items = document.querySelector(".discuss-nav").getElementsByTagName("a");
        for (let i = 0, len = menu_items.length; i < len; i++) {
          if (menu_items[i].getAttribute("href").indexOf(current_location) !== -1) {
          menu_items[i].parentElement.classList.add("active");
          }
        }
      }
      setNavigation()
    </script>

<div class="footer-padding"></div>
<div class="footer">
<p>SFU Central</p>
</div>
  </body>
</html>
